* {
    margin: 0;
    }
    
    body {
    background-image: url("../images/eight_horns.png");
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    }
    
    h1, h3, h2 {
    font-family: Georgia, times, 'Times New Roman', serif;
    color: #4aaaa5;
    padding-bottom: 20px;
    
    }
    
    nav {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
    }
    
    .nav_name {
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    height: 30px;
    padding: 25px;
    margin-left: 100px;
    }
    
    ul {
    position: absolute;
    float: right;
    right: 0;
    margin-top: 30px;
    margin-right: -20px;
    width: 30%;
    }
    
    li {
    display: inline;
    padding: 10px;
    }
    
    a {
    color: #777777;
    text-decoration: none;
    }
    
    a:hover {
    color: #4aaaa5;
    }

    .portfolio {
        border-left: 1px solid;
        border-color: lightgray;
        border-right: 1px solid;
        border-color: lightgrey;
    }
    
    .content {
    position: relative; top: 80px;
    border-top: 20px;
    margin-top: 30px;
    width: 650px;
    max-height: 4000px;
    background-color: white;
    float: left;
    margin-left: 100px;
    padding: 20px;
    border: 1px solid #dddddd;
    }
    
    
    .about_me {
    border-bottom: 2px solid #cccccc;
    line-height: 10px;
    margin-top: 25px;
    margin-left: 20px;
    background-color: white;
    color: #4aaaa5;
    max-height: 300px;
    padding-bottom: 10px;
    }
    
    .bio-pic {
    margin-top: 40px;
    margin-left: 20px;
    width: 200px;
    height: 200px;
    float: left;
    padding-right: 20px;
    }

    .clearfix {
        overflow: auto;
    }
    
    .bio-text {
    position: relative;
    float: right;
    font-size: 14px;
    color: #777777;
    margin-top: 40px;
    margin-left: 15px;
    width: 350px;
    }

    contact-01 {
        border-bottom: 2px solid #cccccc;
        margin-left: 20px;
        margin-top: 15px;
        max-width: 600px;
    }

    .content-01 {
        max-width: 600px;
        margin-top: -5px;
        padding-bottom: 0px;
        border-bottom: 2px solid #cccccc;
        margin-left: 20px;

    }
        
    .portfolio-1txt {
    font-family: Georgia, times, 'Times New Roman', serif;
    color: #ffffff;
    width: 130px;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    background-color: #4aaaa5;
    }

    .portfolio-1frame {
        float: left;
        margin-left: 30px;
        margin-top: 10px;
    }
    
    .portfolio-2txt {
    font-family: Georgia, times, 'Times New Roman', serif;
    color: #ffffff;
    width: 130px;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    background-color: #4aaaa5;
    }

    .portfolio-2frame {
        float: left;
        margin-left: 80px;
        margin-top: 10px;
    }
    
      
    .portfolio-3txt {
    font-family: Georgia, times, 'Times New Roman', serif;
    color: #ffffff;
    width: 130px;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    background-color: #4aaaa5;
    }

    .portfolio-3frame {
        float: left;
        margin-left: 100px;
        margin-top: 10px;
    }
       
    .portfolio-4txt {
    font-family: Georgia, times, 'Times New Roman', serif;
    color: #ffffff;
    width: 130px;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    background-color: #4aaaa5;
    }

    .portfolio-4frame {
        float: left;
        margin-left: 30px;
        margin-top: 10px;
    }
        
    .portfolio-5txt {
    font-family: Georgia, times, 'Times New Roman', serif;
    color: #ffffff;
    width: 130px;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    background-color: #4aaaa5;
    }
    
    .portfolio-5frame {
        float: right;
        margin-right: 280px;
        margin-top: 10px;
    }
    form {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-top: 10px;
    margin-left: 20px;
    }
    
    #messagetxt {
    height: 160px;
    width: 90%;
    }
    
    input[type=text], input[type=email] {
    width: 90%;
    padding: 5px;
    }
    
    input[type=submit] {
    color: #ffffff;
    background-color: #4aaaa5;
    border: none;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 20px;
    }
    
    input[type=submit] {
        background-color: #4aaaa5;
        color: #ffffff;
        border: none;
        cursor: pointer;
        font-size: 15px;
        padding: 10px 20px;
    }
    
    input[type=submit]:hover {
        background-color: chocolate;
    }

    .connect {
    text-align: center;
    width: 270px;
    height: 180px;
    margin-right: 0px; 
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #dddddd;
    float: left;
    position: relative; left: 60px; top: 110px;
    
    }
    
    .connect_me {
    padding-left: 10px;
    border-bottom: 1px solid #cccccc;
    line-height: 10px;
    padding-top: 10px;
    }
    
    .icons {
    padding-top: 20px;
    }
    
    footer {
    background-color: grey;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    color: #ffffff;
    text-align: center;
    border-top: 5px solid #4aaaa5;
    }
    
    .copyright {
    color: #ffffff;
    font-size: 10px;
    margin-top: 30px;
    }
    
    